/*
    CSS Stylesheet for Assignment 1
*/

/*Import Cool Fonts*/
@import url(https://db.onlinewebfonts.com/c/b712c1dfca1bfc2e6d80b2c9d9c0c957?family=GT+Walsheim); 
@import url(https://db.onlinewebfonts.com/c/750e3658d4460a397a551dfac26bb272?family=Karla);
@import url(https://db.onlinewebfonts.com/c/16842c927f8ef77adc29f7c5e27929ca?family=GT+Pressura+Light);  

/* Stylising the body of the page */
body {
    background-color: #3a3153;
}

/* Stylise the header of the page */
.header-main {
    width: 100%;
    height: 60px;
    background-color: #3a3153;
    display: flex;
    justify-content: space-between;
    font-family: "Karla", sans-serif;
}

/* Logo and the logo image */
.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
}

.header-main-logo img {
    height: 60px;
    align-self: center;
}

.header-main-email {
    float: left;
    color: #fefdfd;
    padding-right: 60px;
    text-decoration: none;
}

/* Stylise the navigation bar */
.header-main-nav {
    width: fit-content;
    height: 100%;
}

.header-main-nav ul {
    
    margin-left: 30px;
}

.header-main-nav ul li{
    list-style: none;
    display: inline;
    float: left;
    transition: 0.5s;
} 

.header-main-nav ul li a{
    padding: 0 25px;
    font-size: 20px;
    text-decoration: none;
    color: #fefdfd;
    display: block;
    height: 100%;
}

/* Extra animation on navigation bar */
.header-main-nav ul:hover li {
    opacity: 0.2;
    filter: blur(2px);
}

.header-main-nav ul li:hover {
    opacity: 1;
    filter: blur(0px);
}

/* Stylising the main content of the header */
.header-content {
    padding: 80px;
    text-align: left;
    color: #fefdfd;
}

.header-content h1 {
    font-size: 60px;
    font-family: "GT Walsheim", sans-serif;
}

.header-content h2 {
    color: #b1aebb;
    font-family: "GT Walsheim", sans-serif;
}

.header-content p {
    font-size: 20px;
    font-family: "Karla", sans-serif;
}

/* Stylising a column for "About Us" page */
*{
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Left side bar on the About Us page */
.side {
    flex: 30%;
    background-color: #b1aebb;
    padding: 20px;
}

/* Main column on the right on the About Us page */
.main{
    flex: 70%;
    background-color: #fefdfd;
    font-family: "Karla", sans-serif;
    padding: 20px;
}

/* Stylising timetable */
.timetable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.timetable th {
    color: #5f43b2;
}

.timetable td{
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}