/*
    CSS Stylesheet for Assignment 1
*/

/* Import Cool Fonts */
@import url(https://db.onlinewebfonts.com/c/b712c1dfca1bfc2e6d80b2c9d9c0c957?family=GT+Walsheim); 
@import url(https://db.onlinewebfonts.com/c/750e3658d4460a397a551dfac26bb272?family=Karla);
@import url(https://db.onlinewebfonts.com/c/16842c927f8ef77adc29f7c5e27929ca?family=GT+Pressura+Light);  

/* Stylising the body of the page */
body {
    background-color: #3a3153;
}

h1, h2, h3{
    font-family: "GT Walsheim";
    color:#fefdfd;
}

p{
    font-family: "Karla", sans-serif;
    color: #fefdfd;
}

aside{
    width: 25%;
    float: right;
    border: 1px;
    border-left-style: solid;
    border-left-color: #b1aebb;
    border-left-width: 5px;
}


/* Stylise the header of the page */
.header-main {
    width: 100%;
    height: 60px;
    background-color: #3a3153;
    display: flex;
    justify-content: space-between;
    font-family: "Karla", sans-serif;
}

.headertitle{
    color: #7ea0ff;
}

/* Logo and the logo image */
.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
}

.header-main-logo img {
    height: 60px;
    align-self: center;
}

/* Styalising email button */
.contact {
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    padding: 9px 25px;
    background-color: #7ea0ff;
    color:#fefdfd;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a.contact:hover{
    background-color: #5174d5;
}

/* Stylise the navigation bar */
.header-main-nav {
    width: fit-content;
    height: 100%;
}

.header-main-nav ul {
    
    margin-left: 30px;
}

.header-main-nav ul li{
    list-style: none;
    display: inline;
    float: left;
    transition: 0.5s;
} 

.header-main-nav ul li a{
    padding: 0 25px;
    font-size: 20px;
    text-decoration: none;
    color: #fefdfd;
    display: block;
    height: 100%;
}

/* Extra animation on navigation bar */
.header-main-nav ul:hover li {
    opacity: 0.2;
    filter: blur(2px);
}

.header-main-nav ul li:hover {
    opacity: 1;
    filter: blur(0px);
}

/* Stylising the main content of the header */
.header-content {
    padding: 80px;
    text-align: left;
    color: #fefdfd;
}

.header-content h1 {
    font-size: 60px;
    font-family: "GT Walsheim", sans-serif;
}

.header-content h2 {
    color: #b1aebb;
    font-family: "GT Pressura Light", sans-serif;
}

.header-content p {
    font-size: 20px;
    font-family: "Karla", sans-serif;
}

/* Stylising timetable */
.timetable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: "Karla", sans-serif;
    color: #fefdfd;
}

th {
    color: #5f43b2;
}

td{
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

/* Figure Style */
figure img{
    width: 10%
}

/* Footer stylisation */
footer{
    padding-left: 20px;
    color:#fefdfd;
}


/* my adjustments */

.fieldset-content{
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 60px;
}

.fieldset_main{
    background-color: #3d374e;
    border: 1px solid;
    border-radius: 8px;
    box-shadow:0 0 10px;
}

.fieldset_gender{
    background-color: #373245;
    border: 1px solid;
    border-radius: 8px;
    box-shadow:0 0 10px;
}

legend{
    font-family: "Karla", sans-serif;
    color: #fefdfd;
}

.radio_button{
    font-family: "Karla", sans-serif;
    color: #fefdfd;
}

.button{
    background-color: #b1aebb;
    border: none;
    color: black;
    padding: 7px 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #7ea0ff;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #7ea0ff; /* Green */
    color: black;
}

/* Jobs Page Stylization */

.jobs_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100,1fr));
    grid-auto-rows: repeat(auto-fit, minmax(100,1fr));
    column-gap: 10px;
    row-gap: 10px;
    align-items: baseline;
}

.jobs_header { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2;  
}

.jobs_sidepanel {
    height: 800px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #b1aebb; 
    padding: 7px 15px;
    margin-bottom: 10px;
    font-family: "Karla", sans-serif; 
    box-shadow: 0 0 10px; 
} 

.job_info {
    font-family:"Karla", sans-serif;
    list-style-type: upper-roman ;
    margin: 10px;
    padding: 10px;
}

.jobs_mainpanel {
    height: 800px;
    overflow-y: 100px;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #b1aebb;
    padding: 7px 15px;
    margin-bottom: 10px;
    font-family: "Karla", sans-serif; 
    box-shadow: 0 0 10px;
    overflow: auto;
}

/*Testimonials Styling*/
.jobs_testimonials { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #b1aebb; 
    padding: 9px 15px;
    margin-bottom: 10px;
    font-family: "Karla", sans-serif; 
    box-shadow: 0 0 10px;    
}
.flex_container{
    display: flex;
    gap: 10px;
}

.flex_item { 
    flex: 1;
    background-color:#b1aebb;
}

.flex_item1 { 
    flex: 1; 
    flex-direction: row;
    background-color:#b1aebb;
}
.flex_item2 { 
    flex: 1; 
    background-color: #b1aebb;
}

.flex_item3 { 
    flex: 1; 
    background-color: #b1aebb;
}

/* Footer stylisation */
.ync_footer{
    background-color: #373153;
    flex: 1;
    grid-column-start: 1; 
    grid-column-end: 4;
    width: 100%;
}
.contact_info {
    font-family:"Karla", sans-serif;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    color: #b1aebb;
}